 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2092px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 684px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 0;
}

.u-section-1 .u-image-1 {
  width: 180px;
  height: 202px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 47px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 41px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 684px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 289px;
  height: 310px;
  margin: -30px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -22px auto 0 140px;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 20px auto 0 158px;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 40px 135px 0 auto;
}

.u-section-1 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 40px auto 0;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 684px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-image-3 {
  width: 165px;
  height: 202px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 33px auto 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  margin: 33px auto 0;
}

.u-section-1 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 39px auto 0;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 704px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 22px 0;
}

.u-section-1 .u-image-4 {
  width: 183px;
  height: 183px;
  margin: -16px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 27px auto 0;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  margin: 47px auto 0;
}

.u-section-1 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 67px auto 0;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 704px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-image-5 {
  width: 195px;
  height: 195px;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 33px auto 0;
}

.u-section-1 .u-text-14 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-text-15 {
  font-style: italic;
  margin: 22px auto 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 704px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-16 {
  margin: 0 30px;
}

.u-section-1 .u-image-6 {
  width: 293px;
  height: 374px;
  margin: 101px auto 0 104px;
}

.u-section-1 .u-text-17 {
  margin: -288px 110px 0 463px;
}

.u-section-1 .u-social-icons-5 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 171px auto 60px 235px;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1848px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 564px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 564px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 114px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 129px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 111px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 564px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 580px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 580px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 580px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 10px;
    margin-left: 363px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 228px;
    height: 244px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 44px;
    margin-left: 86px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 98px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 84px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 448px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 522px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 522px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 153px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-6 {
    margin-left: 47px;
  }
}